<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>MDB | {% block title %} {% endblock %}</title>

  {% include 'base/css.html' %}

  {% block extrahead %} {% endblock %}

  {% block extrastyle %} {% endblock %}
</head>

<body>
  {% block header %} {% endblock %}

  <main class="py-5">
    {% block content %}


    {% endblock %}
  </main>


  {% block footer %} {% endblock %}

  {% include 'base/scripts.html' %}

  {% block extrascripts %} {% endblock %}
</body>

</html>