{% load static %}

<!-- jquery -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<!-- jquery validate -->
<script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
<!-- jquery password strength -->
<script type="text/javascript" src="{% static 'js/jquery.passwordstrength.js' %}"></script>
<!-- Popper Js -->
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- MDB  -->
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<!-- Main Js -->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
